.app-chart-list {
    /*margin:0.5em;*/
}

    .app-chart-list .app-promo-filler {
        height: 89px;
    }

    .app-chart-list .ui-listview {
        margin: 0;
        margin-top: -1px;
    }

.app-chart {
    float: left;
    width: 100%;
    position: relative;
    display: inline-block;
}

    .app-chart .app-chart-inner {
        display: block;
        border: solid 1px #ccc;
        padding: 0;
        padding-left: 3px;
        background-color: #fff;
        margin-top: -1px;
        margin-left: -1px;
    }

    .app-chart.app-chart-has-data .app-chart-inner {
        padding-left: 0;
    }


.app-min-sm .app-chart {
    width: 50%;
}

    .app-min-sm .app-chart.app-chart-medium,
    .app-min-sm .app-chart.app-chart-large {
        width: 100%;
    }


.app-min-md .app-chart {
    width: 50%;
}

    .app-min-md .app-chart.app-chart-medium,
    .app-min-md .app-chart.app-chart-large {
        width: 100%;
    }

.app-min-lg .app-chart {
    width: 33.333%;
}

    .app-min-lg .app-chart.app-chart-medium {
        width: 66.666%;
    }

    .app-min-lg .app-chart.app-chart-large {
        width: 100%;
    }

.app-chart .ui-btn {
    border-width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: auto;
    left: auto;
    right: 1px;
    width: 30px;
    height: 30px;
}

.app-desktop .app-chart-list {
    padding-right: 6px;
}

.app-chart .ui-btn:not(.ui-btn-active):not(:hover) {
    background-color: transparent !important;
}

.app-chart .app-btn-more {
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    cursor: pointer;
}

.app-chart .app-chart-mini {
    height: 40px;
    width: 60px;
    margin-top: 12px;
    margin-left: 12px;
    float: left;
    cursor: pointer;
}

.app-chart .app-chart-headerbar {
    color: #000;
    height: 52px;
    padding-bottom: 0.25em;
    width: 100%;
}

.app-chart.app-chart-has-data .app-chart-header {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    margin-left: 1em;
    margin-right: 2.5em;
    top: 1em;
}

.app-echo .app-echo-inner .app-chart-header {
    white-space: normal;
}

.app-chart-medium.app-chart-has-data .app-chart-header {
    font-size: 14px;
}

.app-chart-large.app-chart-has-data .app-chart-header {
    font-size: 16px;
}

.app-chart .app-chart-data {
    position: absolute;
    overflow: auto;
    height: 80%;
    width: 100%;
    background-color: #fff;
}

    .app-chart .app-chart-data table {
        border-collapse: collapse;
        padding: 1em;
        padding-top: 0;
        margin: 1em;
        margin-top: 0;
    }

        .app-chart .app-chart-data table th,
        .app-chart .app-chart-data table td {
            color: #333;
            border: solid 1px #ccc;
            padding: 6px;
            font-size: 14px;
        }


            .app-chart .app-chart-data table th,
            .app-chart .app-chart-data table td:not(:first-child) {
                text-align: center;
            }

.app-density-compact .app-chart .app-chart-data table th,
.app-density-compact .app-chart .app-chart-data table td {
    font-size: 12px;
}

/*.app-density-condensed .app-chart.app-chart-has-data .app-chart-header {
    font-size: 12px;
}*/
.app-density-condensed .app-chart .app-chart-data table th,
.app-density-condensed .app-chart .app-chart-data table td {
    font-size: 10px;
}
/*.app-density-condensed .app-chart.app-chart-has-data .app-chart-header {
    font-size: 12px;
}*/

.app-chart .app-chart-data table th:first-of-type {
    white-space: nowrap;
}

.app-chart .app-chart-data table td {
    padding: 3px;
}

/*******************/
/*Calendar Styling */
/*******************/

.app-presenter[data-presenter="calendar"] {
    position: relative;
}

.app-calendar {
    line-height: normal;
    /*margin-bottom: -.5em;*/
}

.app-echo .app-calendar {
    background-color: transparent !important;
}

.app-calendar-dayview .app-event,
.app-calendar-weekview .app-event,
.app-calendar-month .app-event {
    touch-action: none;
}

.app-calendar-dayview,
.app-calendar-weekview {
    transition: margin-left 0 linear;
}

/* Year Styling */
.app-calendar-year-header {
    width: 100%;
}

.app-calendar-year h1 {
    border-bottom: 1px solid #ccc;
    font-weight: 200;
    font-size: 45px;
    margin: 0 0 24px 0;
    padding: 0 0 8px 0;
    transition: color ease 0.3s;
    text-align: center;
}

body .app-presenter[data-presenter="calendar"] .app-calendar-yearview .app-calendar-year h1.app-in-header {
    color: transparent !important;
}

.app-calendar-year:not(.data-loaded) h1 {
    color: #ccc;
}

.app-calendar-yearview .app-calendar-month {
    display: block;
    float: left;
    box-sizing: border-box;
    width: 33.33%;
    padding: 0 0.5em 2em 0;
}

.app-calendar-yearview .app-calendar-month-header {
    /*width: 10em;*/
    border: none;
    padding: 0 5px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    overflow: hidden;
}

    .app-calendar-yearview .app-calendar-month-header:not(.ui-btn-active) {
        background-color: transparent !important;
        /*color: #38c;*/
    }

/*.app-density-compact .app-calendar-yearview .app-calendar-month-header {
    width: 200px;
}
*/
.app-density-condensed .app-calendar-yearview .app-calendar-month-header {
    width: 170px;
}

.app-calendar .app-calendar-yearview .app-calendar-month .app-calendar-month-title,
.app-calendar .app-calendar-yearview .app-calendar-month table {
    box-sizing: content-box;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
}


.app-calendar-yearview .app-calendar-month th {
    font-weight: normal;
}

.app-calendar-yearview .app-calendar-month td {
    min-height: 1px;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;
    height: 2em;
    padding: 0;
    cursor: pointer;
}

    .app-calendar-yearview .app-calendar-month td.app-has-data:not(.app-current-day):not(.ui-btn-active) {
        /*        background-color: #e9e9e9;*/
        transition: background-color ease 0.3s;
    }

    .app-calendar-yearview .app-calendar-month td.ui-btn-active {
        background-color: #38c;
        border-radius: 0;
        color: #fff;
    }

.app-day-header .app-current-day {
    font-weight: 600;
}

.app-day-header .ui-btn:not(.ui-btn-active) .app-current-day {
    color: #38c;
}

.app-calendar-plugin span.app-current-day,
.app-calendar-monthview .app-current-day,
.app-calendar-yearview .app-current-day,
.app-week-header .app-current-day,
.app-day-header .app-current-day.visible-day {
    background-color: #38c;
    border-radius: 50%;
    color: #fff !important;
    font-weight: 600;
}

.visible-day {
    background-color: #000;
    border-radius: 50%;
    color: #fff !important;
    font-weight: 600;
}

.app-week-header li > a > div,
.app-day-header li > a > div {
    display: inline;
    margin-left: -2px;
    height: 1.5em;
    line-height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
    display: inline-block;
    padding: 2px;
}

.app-calendar-monthview .app-calendar-month {
    height: 100%;
}

.app-calendar-monthview .app-calendar-month-header {
    margin: 0.25em 0.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.app-calendar .app-calendar-month-header {
    font-size: 24px;
    /*color: #38c;*/
    transition: color ease 0.2s;
}

.app-calendar-agenda-list .app-calendar-month-header h1 {
    font-size: 24px;
    padding: 4px;
}

.app-density-compact .app-wrapper .app-calendar .app-calendar-month-header,
.app-density-compact .app-wrapper .app-calendar-agenda-list .app-calendar-month-header h1 {
    font-size: 22px;
}

.app-density-condensed .app-wrapper .app-calendar .app-calendar-month-header,
.app-density-condensed .app-wrapper .app-calendar-agenda-list .app-calendar-month-header h1 {
    font-size: 20px;
}

.app-calendar-monthview .app-calendar-month:not(.data-loaded) .app-calendar-month-header {
    color: #ccc;
}

.app-calendar-monthview .app-calendar-month-header.app-in-header {
    color: transparent !important;
}

.app-calendar-monthview .app-calendar-month table {
    width: 100%;
    border-spacing: 0;
    background-color: #fff;
    table-layout: fixed;
}

    .app-calendar-monthview .app-calendar-month table td {
        border: solid 1px #e5e5e5;
        border-top-width: 0;
        border-left-width: 0;
        position: relative;
        width: 14.2%;
        /*overflow: hidden;*/
        vertical-align: top;
    }

        .app-calendar-monthview .app-calendar-month table td ul {
            margin: 0;
            padding: .5em 0 0 0;
            list-style: none;
            font-size: 8.5px;
        }

.app-calendar-dayview .app-event {
    font-size: 10px;
}

.app-calendar-weekview .app-event {
    font-size: 8.5px;
}

.app-event .app-event-time-long {
    font-weight: normal;
}

.app-event .app-event-handle {
    position: absolute;
    height: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    transition: opacity ease 0.2s;
    opacity: 0;
    cursor: row-resize;
}

body:not(.app-show-system-buttons-on-hover) .app-event .app-event-handle {
    opacity: 1;
}

body:not(.app-desktop) .app-event .app-event-handle {
    padding-top: 12px;
    padding-bottom: 12px;
    bottom: -12px;
}

.app-event:hover .app-event-handle,
.app-event-preview .app-event-handle {
    transition: opacity ease 0.2s;
    opacity: 1;
}

.app-event .app-event-handle::after {
    content: ' ';
    display: block;
    width: 20px;
    height: 5px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -2px auto 0;
}



.app-calendar-monthview .app-calendar-month table td li.app-calendar-month-more:not(.ui-btn-active) {
    color: #a2a2a2;
}

.app-calendar-monthview .app-calendar-month table td.app-calendar-weekend {
    background-color: #fcfcfc;
}

    .app-calendar-monthview .app-calendar-month table td.app-calendar-weekend > a:not(.ui-btn-active) {
        color: #a2a2a2;
    }

.app-calendar-monthview .app-calendar-month table td > a {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 4px 0 4px !important;
    margin: 0;
    font-weight: normal;
    line-height: 1;
    border-color: transparent !important;
}

    .app-calendar-monthview .app-calendar-month table td > a.ui-btn-active {
        padding-bottom: 4px !important;
    }

.app-calendar-yearview .app-calendar-month table td > a {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1;
    border-width: 0 !important;
}

    .app-calendar-yearview .app-calendar-month table td > a:not(.ui-btn-active),
    .app-calendar-monthview .app-calendar-month table td > a:not(.ui-btn-active) {
        background-color: transparent !important;
    }

    .app-calendar-yearview .app-calendar-month table td > a > span {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
    }

.app-calendar-monthview .app-calendar-month table td > a > span {
    display: inline-block;
    width: 1.5em;
    text-align: center;
    vertical-align: middle;
    height: 1.5em;
    line-height: 1.5em;
}

.app-calendar-monthview .app-calendar-month table {
    border-top: solid 1px #e5e5e5;
}

.app-calendar-weekview,
.app-calendar-dayview {
    height: 1060px;
    overflow: hidden;
}

.app-calendar-time {
    background-color: #fff;
    left: 0;
    width: 60px;
    font-size: 12px;
    padding-right: 0.5em;
    height: 100%;
    position: relative;
    z-index: 2000;
    margin-top: -2px;
}

.app-theme-light .app-calendar-time,
.app-theme-modern .app-calendar-time {
    background-color: #f9f9f9;
}

.app-calendar-weekview .app-calendar-time {
    position: absolute;
}

.app-calendar-dayview .app-calendar-time {
    float: left;
}

.app-calendar-time ul {
    list-style: none;
    padding-left: 0;
    height: 100%;
    margin-top: 16px;
}

    .app-calendar-time ul li {
        display: block;
        height: 4%;
    }

        .app-calendar-time ul li span {
            padding-left: 1em;
            float: right;
        }


.app-calendar-time .app-current-time {
    position: absolute;
    top: 0;
    margin-top: 16px;
    left: 0;
    width: 60px;
    text-align: right;
    color: transparent;
}

.app-has-time-prompt .app-current-time {
    color: #000;
}

.app-has-current-day .app-calendar-time li .time-hidden,
.app-has-time-prompt .app-calendar-time li .time-hidden {
    color: transparent;
}

.app-calendar-week-grid {
    padding-left: 66px;
    height: 100%;
}

.app-calendar-day-grid {
    min-width: 30000px;
    height: 100%;
    overflow: hidden;
}

    .app-calendar-day,
    .app-calendar-day-grid .app-calendar-load-at-top {
        display: inline-block;
        float: left;
        height: 100%;
    }

    .app-calendar-day-grid .app-calendar-load-at-top {
        /*position:relative;*/
    }

    .app-calendar-day-grid .dv-load-at-top {
        position: fixed;
        top: 50%;
    }

.current-time-line {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin-top: 22px;
    margin-bottom: -23px;
    right: 0;
}

.app-has-current-day .current-time-line,
.app-calendar-agenda-list .current-time-line {
    border-top: solid 1px;
}

.app-calendar-agendaview .current-time-line {
    right: 12px;
}

.app-time-line-container {
    display: block;
    vertical-align: middle;
    height: 3em;
    line-height: 2em;
    padding-top: 1em;
}

.app-density-condensed .app-time-line-container {
    padding-top: 1.6em;
}

.app-density-compact .app-time-line-container {
    padding-top: 1.3em;
}


.app-calendar-agenda-list li.app-time-line-container > .app-event-time {
    color: #38c;
    padding: 0;
    margin: 0;
    position: static;
    display: inline-block;
    vertical-align: baseline;
    line-height: 2em;
}

.app-calendar-agenda-list li.app-time-line-container > .app-time-line-container:first-child {
    margin-top: 1em;
    height: 2em;
}

.app-calendar-agenda-list .app-event {
    font-weight: 600;
}

    .app-calendar-agenda-list .app-event .app-event-time {
        font-weight: normal;
    }


.app-calendar-agenda-list .current-time-line {
    border-radius: 0 !important;
    top: 2em;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 1px;
    margin-top: 0 !important;
}

.app-density-condensed .app-calendar-agenda-list .app-has-current-day .current-time-line {
    top: 2.5em;
}

.app-density-compact .app-calendar-agenda-list .app-has-current-day .current-time-line {
    top: 2.1em;
}

.app-calendar-weekview .app-calendar-time .current-time-line {
    margin-top: 24px !important;
}


.app-has-time-prompt .current-time-line {
    border-top: solid 1px #000;
}


.app-calendar-weekview .current-time-line {
    position: absolute;
    width: 100%;
}

.current-time-line .dot {
    position: absolute;
    content: "";
    margin-left: 70px;
    margin-top: -0.25em;
    border-radius: 0.5em;
    height: 0.5em;
    width: 0.5em !important;
}

.app-has-time-prompt .current-time-line .dot {
    background-color: #000;
}

.app-calendar-day {
    position: relative;
}

    .app-calendar-day > div:not(.app-clear-fix):not(.app-calendar-time) {
        height: 4%;
        overflow-x: visible;
        white-space: nowrap;
        /*margin-left: -0.5em;*/
    }

.app-calendar-weekview .app-calendar-day > div:nth-of-type(1),
.app-calendar-dayview .app-calendar-day > div:nth-of-type(2) {
    height: 22px;
    margin-top: -1px;
}

.app-calendar-day > div:not(.app-calendar-time) {
    border-bottom: 1px solid #ccc;
    margin-bottom: -1px;
}


.app-calendar-week-grid .app-calendar-day > div {
    border-right: solid 1px #ccc;
    padding-right: 1px;
}

.app-calendar-week-grid .app-calendar-day.endofweek > div {
    border-right-width: 2px;
    padding-right: 0;
}

.app-calendar-day > div:last-of-type > div {
    border-bottom-width: 0;
}

.app-calendar-day ul.app-calendar-eventlist {
    padding: 0;
    margin: 0;
}

ul.app-calendar-eventlist li {
    box-sizing: border-box;
    position: absolute;
    list-style: none;
    padding: 0.5em;
    border-radius: 2px;
    top: 22px;
    left: 0;
    width: 90%;
}

.app-calendar-dayview ul.app-calendar-eventlist li.app-event {
    left: 70px;
}

.app-calendar-weekview ul.app-calendar-eventlist li.app-event {
    left: 4px;
}

.app-calendar-dayview ul.app-calendar-eventlist li.app-event,
.app-calendar-weekview ul.app-calendar-eventlist li.app-event {
    box-shadow: 0 0 3px #fff;
}

    .app-calendar-dayview ul.app-calendar-eventlist li.app-event.app-calendar-selected {
        outline-offset: -3px;
    }

.app-calendar-load-at-top,
.app-calendar-load-at-bottom {
    padding-top: 1em;
    padding-bottom: 1em;
}

    .app-calendar-load-at-top a,
    .app-calendar-load-at-bottom a {
        margin-left: auto;
        margin-right: auto;
        background-color: transparent !important;
        border-width: 0;
        font-weight: normal;
        padding-top: 8px;
        padding-bottom: 8px;
    }

.app-bar-header .app-bar-calendar {
    overflow: hidden;
}

    .app-bar-header .app-bar-calendar .app-tabs {
        display: inline-block;
        padding: 0;
        margin-left: 15%;
        margin-right: 15%;
        min-width: 70%;
        width: 70%;
    }

        .app-bar-header .app-bar-calendar .app-tabs .ui-btn {
            margin-top: 0;
            margin-bottom: 0;
        }

.app-calendar-badge {
    cursor: default;
    display: inline-block;
    left: 12px;
    position: absolute;
    font-weight: normal;
    text-transform: uppercase;
    /*font-size: 18px !important;*/
    font-size: 14px !important;
    line-height: 1;
    margin: 0;
    border-width: 0 !important;
    padding: 8px 4px !important;
    /*box-shadow: none !important;*/
}

    .app-calendar-badge.app-has-droparrow {
        padding-right: 24px !important;
    }

.app-density-condensed .app-calendar-badge {
    font-size: 12px !important;
}

.app-calendar-badge.app-has-droparrow {
    cursor: pointer;
}

.app-calendar-badge b {
    font-weight: 600;
}

.app-density-compact .app-calendar-badge {
    /*margin-top: 12px;*/
}

.app-density-condensed .app-calendar-badge {
    /*margin-top: 9px;*/
}

.app-bar-calendar .app-calendar-badge::after {
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

.app-calendar-today,
.app-calendar-next,
.app-calendar-prev {
    position: absolute;
    right: 98px;
    font-weight: normal !important;
}

.app-bar-calendar .app-calendar-controls {
    position: relative;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    /*background-color: yellow;*/
    font-size: 0;
}

    .app-bar-calendar .app-calendar-controls > .ui-btn,
    .app-bar-calendar .app-calendar-badge {
        top: 50% !important;
        margin-top: -1em !important;
        margin-bottom: 0 !important;
    }


.app-calendar-next {
    right: 0.56em;
}

.app-calendar-prev {
    right: 53px;
}



.app-bar-calendar .app-month-header,
.app-bar-calendar .app-week-header,
.app-bar-calendar .app-day-header {
    clear: right;
    margin: 0;
    padding: 4px 0;
}

    .app-bar-calendar .app-month-header ul,
    .app-bar-calendar .app-week-header ul,
    .app-bar-calendar .app-day-header ul {
        padding-left: 0;
        margin-top: 0.25em;
    }

    .app-bar-calendar .app-week-header ul,
    .app-bar-calendar .app-day-header ul {
        white-space: nowrap;
        width: 30000px;
    }


.app-desktop .app-bar-calendar .app-month-header ul {
    margin-right: 16px;
}


.app-bar-calendar .app-month-header li,
.app-bar-calendar .app-week-header li,
.app-bar-calendar .app-day-header li {
    list-style: none;
    font-weight: normal;
    float: left;
}

.app-bar-calendar .app-month-header li {
    text-align: right;
    width: 14.28%;
    padding-bottom: .2em;
}

.app-bar-calendar .app-week-header li,
.app-bar-calendar .app-day-header li {
    display: inline;
    text-align: center;
    width: 200px;
    padding: 0 2px 0.2em 0;
    border-right: none;
}

    .app-bar-calendar .app-week-header li a,
    .app-bar-calendar .app-day-header li a {
        border: none;
        padding: 4px 0;
        margin: -4px 0;
        font-weight: normal;
        width: 100%;
        height: 100%;
        overflow: visible;
    }

.app-density-condensed .app-bar-calendar .app-calendar-header li,
.app-density-condensed .app-bar-calendar .app-calendar-header li a {
    font-size: 8.5pt !important;
}


.app-density-compact .app-bar-calendar .app-calendar-header li,
.app-density-comfortable .app-bar-calendar .app-calendar-header li,
.app-density-compact .app-bar-calendar .app-calendar-header li a,
.app-density-comfortable .app-bar-calendar .app-calendar-header li a {
    font-size: 14px !important;
}

body.app-theme-light:not(.app-desktop) .app-week-header li a.ui-btn:hover:not(.ui-btn-active),
body.app-theme-light:not(.app-desktop) .app-day-header li a.ui-btn:hover:not(.ui-btn-active),
.app-bar-calendar .app-week-header li a:not(.ui-btn-active),
.app-bar-calendar .app-day-header li a:not(.ui-btn-active) {
    background-color: transparent !important;
}

.app-bar-calendar .app-week-header ul {
    padding-left: 65px;
}

.app-bar-calendar .app-week-header li.last-day-of-week {
    padding-right: 0;
    border-right: 1px solid #ccc;
}

.app-week-header li.first-day-of-week a:not(.ui-btn-active),
.app-week-header li.last-day-of-week a:not(.ui-btn-active),
.app-day-header li.first-day-of-week a:not(.ui-btn-active),
.app-day-header li.last-day-of-week a:not(.ui-btn-active) {
    color: #777;
}

.app-week-header .ui-btn span,
.app-day-header .ui-btn span {
    vertical-align: middle;
}


.app-week-header .ui-btn div,
.app-day-header .ui-btn div {
    display: inline-block;
}

.letter-day,
.abbr-day,
.full-day {
    display: none;
}

.ui-page:not(.app-min-xs) .letter-day,
.ui-page.app-min-xs:not(.app-min-lg) .abbr-day,
.ui-page.app-min-lg .full-day {
    display: inline;
}

.app-bar-calendar .app-month-header li span {
    margin-right: 0.5em;
}

.app-bar-calendar .app-month-header li.app-calendar-weekend {
    color: #a2a2a2;
}

.app-bar-footer .app-bar-calendar-footer {
    padding: 0 1em;
    font-size: 12px;
    font-weight: normal;
}

.app-calendar-weekview .app-calendar-week-grid > div:not(.app-calendar-time) > div,
.app-bar-calendar .app-week-header li,
.app-bar-calendar .app-day-header li {
    width: 300px;
}


.app-bar-calendar-footer .app-scroll-outer {
    overflow-x: auto;
    -ms-overflow-style: scrollbar;
    margin-left: -1em;
    margin-right: -1em;
}

.app-bar-calendar-footer .app-scroll-inner {
    height: 1px;
}

/* Agenda styling*/
.app-calendar-agenda-list {
    list-style: none;
    margin-left: 0;
    padding: 0;
    width: 100% !important;
}

    .app-calendar-agenda-list > li {
        clear: both;
        padding-bottom: 1em;
    }

        .app-calendar-agenda-list > li:last-of-type {
            border-bottom-width: 0;
        }

        .app-calendar-agenda-list > li.app-has-current-day h2:not(.ui-btn-active) > span {
            color: #38c;
        }

        .app-calendar-agenda-list > li.app-has-current-day .current-time-line {
            width: auto;
            margin-bottom: 0;
            margin-right: 0;
            padding: 1em 0;
        }

    .app-calendar-agenda-list .current-time-line .dot {
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
    }

    .app-calendar-agenda-list h2 {
        position: absolute;
        font-size: 18px !important;
        font-weight: 600;
        vertical-align: top;
        padding: 12px 12px 12px 16px;
        margin: 11px 0 0;
        box-sizing: border-box;
        z-index: 1;
        border: none;
    }

.app-echo .app-calendar-agenda-list h2 {
    padding-left: 0;
}

.app-echo .app-calendar-agenda-list h2 {
    cursor: default;
}

.app-echo .dv-action-see-all {
    line-height: normal;
}

.app-density-compact .app-calendar-agenda-list h2 {
    margin-top: 10px;
}

.app-density-condensed .app-calendar-agenda-list h2 {
    margin-top: 9px;
}

.app-calendar-agenda-list h2:not(.ui-btn-active) {
    background-color: transparent !important;
}

.app-calendar-agenda-list .app-calendar-month-header {
    font-size: 1em !important;
    margin-left: 17em;
    border: none;
    padding: 0;
    margin-top: 2em;
    text-align: left;
}

    .app-calendar-agenda-list .app-calendar-month-header:not(.ui-btn-active) {
        background-color: transparent !important;
        /*color: #38c;*/
    }

    .app-calendar-agenda-list .app-calendar-month-header h1 {
        text-transform: uppercase;
        font-weight: 300;
        margin: 0;
    }

.app-echo .app-calendar-agenda-list .app-calendar-month-header {
    margin-top: 0;
}

.app-calendar-agenda-list h2 .app-calendar-daynumbig {
    display: none;
}

.app-calendar-agenda-list .app-calendar-day {
    padding-left: 11em;
    width: 100%;
    box-sizing: border-box;
}

    .app-calendar-agenda-list .app-calendar-day ul {
        list-style: none;
        padding: 0;
        width: 100% !important;
        min-height: 3em;
    }

    .app-calendar-agenda-list .app-calendar-day li {
        position: relative;
    }

        .app-calendar-agenda-list .app-calendar-day li > div {
            margin: 12px;
            margin-left: 6em;
            padding: 12px;
            border-radius: 2px;
            white-space: normal !important;
        }

.app-calendar .app-event:not(.app-event-has-end-time) {
    white-space: nowrap;
}


.app-calendar-dayview .app-event:not(.app-event-has-end-time) .app-event-time-long,
.app-calendar-weekview .app-event:not(.app-event-has-end-time) .app-event-time-long,
.app-calendar-dayview .app-event.app-event-has-end-time .app-event-time,
.app-calendar-weekview .app-event.app-event-has-end-time .app-event-time {
    display: none;
}

.app-calendar .app-event.app-event-preview,
.app-calendar .app-event.app-event-new {
    opacity: 0.8;
    z-index: 1000 !important;
    color: #000;
    cursor: move;
}

.app-calendar-agenda-list li > .app-event-time {
    margin-top: 12px;
    position: absolute;
    vertical-align: middle;
}

.app-calendar-agenda-list .app-calendar-day li > div .app-event-time {
    display: none;
}

.app-calendar-has-end-time .app-calendar-agenda-list .app-calendar-day li > div {
    margin-left: 10em;
}

.app-calendar-has-end-time .app-calendar-agenda-list .app-calendar-month-header {
    margin-left: 21em;
}


.app-blink {
    background-color: #38c !important;
    color: #fff !important;
}


.app-calendar .app-calendar-time,
.app-calendar .app-event,
.app-calendar .app-calendar-month-more {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.app-calendar .app-event,
.app-calendar .app-calendar-month-more {
    cursor: pointer;
    overflow: hidden;
    color: #fff;
    padding: .25em;
}


    .app-calendar .app-event.app-event-color-4,
    .app-calendar .app-event.app-event-color-5,
    .app-calendar .app-event.app-event-color-7,
    .app-calendar .app-event.app-event-color-10,
    .app-calendar .app-event.app-event-color-11,
    .app-calendar .app-event.app-event-color-14,
    .app-calendar .app-event.app-event-color-15,
    .app-calendar .app-event.app-event-color-17,
    .app-calendar .app-event.app-event-color-19,
    .app-calendar .app-event.app-event-color-22,
    .app-calendar .app-event.app-event-color-23 {
        color: #000;
    }

    .app-calendar .app-event .app-event-time {
        font-weight: normal;
        text-transform: lowercase;
        margin-right: -1px;
    }

.app-calendar-dayview .app-event .app-event-data,
.app-calendar-weekview .app-event .app-event-data {
    overflow: hidden;
    height: 100%;
}

.app-calendar-dayview .app-event,
.app-calendar-weekview .app-event {
    overflow: visible;
}


.app-calendar-dayview .app-event,
.app-calendar-weekview .app-event {
    /*margin-top: 22px;*/
    /*margin-left: 3px;*/
    padding: .5em;
}

.app-selected.ui-btn .app-event,
.app-calendar-selected {
    outline: 3px solid #000;
    border-radius: 0 !important;
    z-index: 1000 !important;
}


.app-event.ui-btn-active,
.app-calendar-month-more.ui-btn-active {
    background-color: #38c;
    color: #fff;
}

.app-event {
    opacity: 1;
    transition: opacity ease 0.5s;
}

.app-event-filter .app-event {
    opacity: 0.2;
    transition: opacity ease 0.5s;
}

.app-event-more {
    font-size: 0.8em !important;
    text-overflow: clip !important;
}

.app-event-more,
.app-event-new {
    background-color: #e9e9e9;
}

    .app-event-more.app-selected {
        z-index: 1000 !important;
    }

.app-event-color-0 {
    background-color: #4986e7;
}

.app-event-filter-color-0 .app-event-color-0 {
    opacity: 1;
}

.app-event-color-1 {
    background-color: #f83a22;
}

.app-event-filter-color-1 .app-event-color-1 {
    opacity: 1;
}

.app-event-color-2 {
    background-color: #16a765;
}

.app-event-filter-color-2 .app-event-color-2 {
    opacity: 1;
}

.app-event-color-3 {
    background-color: #a47ae2;
}

.app-event-filter-color-3 .app-event-color-3 {
    opacity: 1;
}

.app-event-color-4 {
    background-color: #ffad46;
}

.app-event-filter-color-4 .app-event-color-4 {
    opacity: 1;
}

.app-event-color-5 {
    background-color: #9fc6e7;
}

.app-event-filter-color-5 .app-event-color-5 {
    opacity: 1;
}

.app-event-color-6 {
    background-color: #ac725e;
}

.app-event-filter-color-6 .app-event-color-6 {
    opacity: 1;
}

.app-event-color-7 {
    background-color: #42d692;
}

.app-event-filter-color-7 .app-event-color-7 {
    opacity: 1;
}

.app-event-color-8 {
    background-color: #cd74e6;
}

.app-event-filter-color-8 .app-event-color-8 {
    opacity: 1;
}

.app-event-color-9 {
    background-color: #ff7537;
}

.app-event-filter-color-9 .app-event-color-9 {
    opacity: 1;
}

.app-event-color-10 {
    background-color: #9fe1e7;
}

.app-event-filter-color-10 .app-event-color-10 {
    opacity: 1;
}

.app-event-color-11 {
    background-color: #f691b2;
}

.app-event-filter-color-11 .app-event-color-11 {
    opacity: 1;
}

.app-event-color-12 {
    background-color: #7bd148;
}

.app-event-filter-color-12 .app-event-color-12 {
    opacity: 1;
}

.app-event-color-13 {
    background-color: #9a9cff;
}

.app-event-filter-color-13 .app-event-color-13 {
    opacity: 1;
}

.app-event-color-14 {
    background-color: #c2c2c2;
}

.app-event-filter-color-14 .app-event-color-14 {
    opacity: 1;
}

.app-event-color-15 {
    background-color: #92e1c0;
}

.app-event-filter-color-15 .app-event-color-15 {
    opacity: 1;
}

.app-event-color-16 {
    background-color: #d06b64;
}

.app-event-filter-color-16 .app-event-color-16 {
    opacity: 1;
}

.app-event-color-17 {
    background-color: #b3dc6c;
}

.app-event-filter-color-17 .app-event-color-17 {
    opacity: 1;
}

.app-event-color-18 {
    background-color: #b99aff;
}

.app-event-filter-color-18 .app-event-color-18 {
    opacity: 1;
}

.app-event-color-19 {
    background-color: #fbe983;
}

.app-event-filter-color-19 .app-event-color-19 {
    opacity: 1;
}

.app-event-color-20 {
    background-color: #cca6ac;
}

.app-event-filter-color-20 .app-event-color-20 {
    opacity: 1;
}

.app-event-color-21 {
    background-color: #fa573c;
}

.app-event-filter-color-21 .app-event-color-21 {
    opacity: 1;
}

.app-event-color-22 {
    background-color: #cabdbf;
}

.app-event-filter-color-22 .app-event-color-22 {
    opacity: 1;
}

.app-event-color-23 {
    background-color: #fad165;
}

.app-event-filter-color-23 .app-event-color-23 {
    opacity: 1;
}

.app-scale {
    transition: opacity 200ms ease, transform 200ms ease;
    transform-origin: 50% 50%;
}

/* Calendar Sidebar Plugin */

.app-calendar-plugin {
    margin: -1em -1em 1em -1em;
    padding: 0.5em 0;
    border-bottom: solid 1px #ddd;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    overflow: hidden;
}

    .app-calendar-plugin h1 {
        margin: 0;
        font-size: 1em;
    }

    .app-calendar-plugin table {
        width: 100%;
        border-collapse: collapse;
    }

        .app-calendar-plugin table th {
            font-weight: normal;
            text-transform: none;
            font-size: 14px;
        }

        .app-calendar-plugin table td {
            width: 14.2%;
            height: 1.7em;
            line-height: 1.7em;
            cursor: pointer;
            text-align: center;
        }

            .app-calendar-plugin table td.app-has-data {
                font-weight: 600;
            }

        .app-calendar-plugin table tr:not(.app-week-hidden) td.app-day-hidden {
            font-size: 0 !important;
        }

        .app-calendar-plugin table tr.app-week-hidden td {
            visibility: hidden;
        }

        .app-calendar-plugin table tr.app-selected,
        .app-calendar-plugin table td.app-selected {
            background-color: rgba(168,233,254,0.4);
        }


        .app-calendar-plugin table tr.ui-btn-active,
        .app-calendar-plugin table tr.ui-btn-active td,
        .app-calendar-plugin table td.ui-btn-active {
            background-color: #38c;
        }

            .app-calendar-plugin table tr.ui-btn-active td,
            .app-calendar-plugin table td.ui-btn-active,
            .app-calendar-plugin table td.ui-btn-active.app-selected {
                color: #fff !important;
            }

.app-density-condensed .app-calendar-plugin table th,
.app-density-condensed .app-calendar-plugin table td,
.app-density-condensed .app-calendar-plugin ol li {
    font-size: 12px;
}


.app-font-tiny.app-density-condensed .app-calendar-plugin table th,
.app-font-tiny.app-density-condensed .app-calendar-plugin table td,
.app-font-tiny.app-density-condensed .app-calendar-plugin ol li {
    font-size: 8.5pt;
}

.app-calendar-plugin .ui-btn {
    font-weight: normal;
}

    .app-calendar-plugin .ui-btn.ui-btn-icon-notext {
        margin: -11px 0 0;
        padding: 0;
        display: inline-block;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        height: 22px;
        left: 0.25em;
        border-width: 0 !important;
    }

        .app-calendar-plugin .ui-btn.ui-btn-icon-notext::after {
            /*font-size: 12px !important;*/
            top: 50%;
            margin-top: -0.5em;
            height: 1em;
            line-height: 1;
        }

        .app-calendar-plugin .ui-btn.ui-btn-icon-notext:not(.ui-btn-active) {
            background-color: transparent !important;
        }

        .app-calendar-plugin .ui-btn.ui-btn-icon-notext.app-calendar-plugin-loadright {
            left: auto;
            right: 0.25em;
        }

.app-calendar-plugin-container .app-calendar-plugin .ui-btn.app-calendar-plugin-loadleft {
    left: 9px;
}

.app-calendar-plugin-container .app-calendar-plugin .ui-btn.app-calendar-plugin-loadright {
    right: 9px;
}

.app-calendar-plugin .app-calendar-plugin-header {
    margin-bottom: 2px;
    position: relative;
}

.app-density-condensed .app-calendar-plugin .app-calendar-plugin-header {
    margin-top: 4px;
}

.app-calendar-plugin .app-calendar-plugin-header div .ui-btn {
    display: inline-block;
    position: relative;
    margin: 0 !important;
}

    .app-calendar-plugin .app-calendar-plugin-header div .ui-btn.app-year-range {
        cursor: default;
    }

.app-calendar-plugin .app-calendar-plugin-header div {
    text-align: center;
    height: 100%;
    line-height: 1;
    white-space: nowrap;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
}

    .app-calendar-plugin .app-calendar-plugin-header div a {
        cursor: pointer;
    }

.app-calendar-plugin .app-calendar-plugin-header :not(.ui-btn-icon-notext).ui-btn {
    padding: 4px 3px !important;
}

.app-calendar-plugin .app-month-container,
.app-calendar-plugin .app-date-selector-container {
    width: 100%;
}

.app-calendar-plugin .app-scroll-inner {
    width: 300%;
    margin-left: -100%;
}

.app-calendar-plugin .app-scroll-column {
    float: left;
    width: 33.3%;
}

.app-calendar-plugin .app-month-container .app-scroll-column > div {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 0.5em;
}

.app-density-condensed .app-calendar-plugin-header div a,
.app-density-condensed .app-calendar-plugin .app-month-container .app-scroll-inner > div,
.app-density-condensed .app-calendar-color-legend {
    font-size: 12px;
}

.app-density-compact .app-calendar-plugin-header div a,
.app-density-compact .app-calendar-plugin .app-month-container .app-scroll-inner > div,
.app-calendar-color-legend {
    font-size: 14px !important;
}

.app-calendar-plugin .ui-btn:not(.ui-btn-icon-notext) {
    margin: 0;
    padding: 0.5em 0.25em !important;
    border-width: 0 !important;
    box-shadow: none !important;
}

.app-calendar-plugin .ui-btn.app-calendar-plugin-fieldselector:not(.ui-btn-icon-notext) {
    display: table;
    margin: 0.25em auto 0 auto;
    border-width: 0 !important;
    padding: 3px 1.5em 3px 0 !important;
}

.app-calendar-plugin .app-calendar-plugin-fieldselector .text {
    padding-left: 4px;
    vertical-align: middle;
}

.app-calendar-plugin .app-calendar-plugin-fieldselector .app-icon {
    transition: opacity ease 200ms;
    margin: -6px 0;
    vertical-align: middle;
    position: relative !important;
    left: 2px !important;
}

.app-calendar-plugin .ui-btn:not(.ui-btn-icon-notext):not(.ui-btn-active):not(.app-selected):not(:hover),
body:not(.app-desktop) .app-calendar-plugin .ui-btn:not(.ui-btn-icon-notext):not(.ui-btn-active):not(.app-selected):hover {
    background-color: transparent !important;
}

.app-calendar-plugin .app-calendar-plugin-fieldselector.app-selected,
.app-calendar-plugin .app-calendar-plugin-fieldselector.app-selected:hover,
.app-calendar-plugin .app-calendar-plugin-header .app-selected,
.app-calendar-plugin .app-calendar-plugin-header .app-selected:hover,
.app-calendar .app-bar-calendar .app-calendar-badge.app-selected,
.app-calendar .app-bar-calendar .app-calendar-badge.app-selected:hover {
    background-color: rgba(0,0,0, 0.05);
    color: #000;
}

.app-calendar-plugin .app-calendar-color-legend a.app-hidden {
    display: none !important;
}

.app-calendar-plugin .app-has-droparrow:after {
    right: 6px;
}

.app-calendar-plugin .app-calendar-color-legend {
    border-top: 1px solid #ddd;
    padding-left: 1em;
    margin-top: 0.5em;
}

    .app-calendar-plugin .app-calendar-color-legend.app-hidden {
        display: none !important;
    }

    .app-calendar-plugin .app-calendar-color-legend ol {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 0.25em;
    }

.app-labelsinlist-displayedabove .app-calendar-plugin .app-calendar-color-legend ol {
    margin-top: 0.25em;
}

.app-calendar-plugin .app-calendar-color-legend li {
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
}

.app-calendar-plugin .app-calendar-color-legend:not(.app-see-all) li.app-hidden {
    display: none;
}
/*.app-calendar-plugin .app-calendar-color-legend .app-item-desc {
    margin-left: 21px!important;
}
.app-calendar-condensed .app-calendar-plugin .app-calendar-color-legend .app-item-desc {
    margin-left: 18px!important;
}*/

.app-calendar-plugin .app-calendar-color-legend .app-item-desc-before {
    margin-top: 0.5em !important;
}

.app-calendar-plugin .app-calendar-color-legend .app-legend-toggle {
    margin-left: 1.5em;
    padding-right: 1.5em !important;
    text-align: left;
    width: auto;
    display: inline-block;
}

.app-calendar-plugin .app-calendar-color-legend.app-see-all .app-legend-toggle:after {
    transform: rotate(180deg);
}

.app-calendar-plugin .app-calendar-color-legend.app-see-all a.app-legend-toggle span.app-see-more {
    display: none;
}

.app-calendar-plugin .app-calendar-color-legend:not(.app-see-all) a.app-legend-toggle span.app-see-less {
    display: none;
}

.app-calendar-plugin .app-calendar-color-legend li span {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -0.5em;
    left: 0;
    width: 1em;
    height: 1em;
}

.app-calendar-plugin .app-calendar-color-legend .app-item-desc {
    font-size: 0.75em;
}

.app-density-condensed .app-calendar-plugin .app-calendar-color-legend .app-item-desc {
    font-size: 11px;
}

.app-density-condensed .app-calendar-plugin .app-calendar-color-legend .app-item-desc {
    font-size: 10px;
}

.app-calendar-plugin .app-date-selector-container {
    /*margin: 10px 6px;*/
}

    .app-calendar-plugin .app-date-selector-container .app-select-month,
    .app-calendar-plugin .app-date-selector-container .app-select-year {
        width: 25%;
        margin: 5px 0;
        padding: 0 !important;
        float: left;
        text-align: center !important;
        font-size: 0.8em;
        cursor: pointer;
        height: 20px;
        line-height: 20px;
    }

    .app-calendar-plugin .app-date-selector-container .app-selected:not(.ui-btn-active) {
        font-weight: 600 !important;
    }



.app-calendar-plugin span.app-current-day {
    display: inline-block;
    width: 1.7em;
}

.app-calendar-plugin td:not(.app-has-data) span.app-current-day {
    font-weight: normal;
}

.app-calendar-plugin-container {
    position: absolute;
    width: 192px;
    z-index: 1003;
    box-shadow: 0 0 16px rgba(0,0,0,0.4);
    overflow: hidden;
    background-color: #fff;
    color: #000;
}

    .app-calendar-plugin-container > .app-calendar-plugin {
        border-width: 0;
        margin: 0;
        padding: 0.5em 0;
        display: inline-block;
        position: relative;
        width: 100%;
        background-color: #fff;
    }

    .app-calendar-plugin-container .ui-btn.app-calendar-btn-close {
        border-width: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        z-index: 1000;
        margin: 4px;
        padding: 0;
        display: none;
    }


        .app-calendar-plugin-container .ui-btn.app-calendar-btn-close::after {
            content: 'close';
        }


    .app-calendar-plugin-container.app-calendar-wide.app-calendar-show-time:not(.app-calendar-show-bar) .ui-btn.app-calendar-btn-close {
        display: block;
    }

.app-time-container {
    width: 100%;
    height: 100%;
    display: none;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    line-height: 18px;
}

.app-calendar-plugin-container.app-calendar-wide.app-calendar-show-time:not(.app-calendar-hide-date) > .app-calendar-plugin {
    width: 52%;
}

.app-calendar-plugin-container.app-calendar-wide.app-calendar-show-time:not(.app-calendar-hide-date) {
    width: 350px;
}

.app-calendar-plugin-container.app-calendar-comfortable:not(.app-calendar-show-date) {
    width: 250px;
}

.app-calendar-plugin-container.app-calendar-wide.app-calendar-comfortable.app-calendar-show-time:not(.app-calendar-hide-date) {
    width: 450px;
}

.app-calendar-plugin-container.app-calendar-wide:not(.app-calendar-hide-date) .app-time-container {
    width: 45%;
    padding-top: 10px;
}

.app-calendar-plugin-container.app-calendar-hide-date .app-calendar-plugin {
    display: none;
}

.app-calendar-plugin-container.app-calendar-show-time .app-time-container {
    display: inline-block;
}

.app-time-container .app-time-header {
    margin-top: 4px;
    text-align: center;
    font-size: 28px;
}

.app-time-container .app-time-hour, .app-time-container .app-time-minute, .app-time-container .app-time-second, .app-time-container .app-time-ampm {
    cursor: pointer;
    transition: color 200ms;
}

.app-time-container .app-selected {
    color: #38c;
    background-color: transparent !important;
}

.app-time-container .app-time-ampm {
    font-size: 10px;
    line-height: 1.3;
    display: inline-block;
    font-weight: 700;
    padding-right: 24px;
    margin-right: -24px;
}

    .app-time-container .app-time-ampm span {
        transition: color 200ms;
    }

.app-time-container .app-time-selector {
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 144px;
    height: 144px;
    margin: 4px auto;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}

.app-time-selector .app-hour-selector, .app-time-selector .app-minute-selector {
}

.app-time-selector .app-hour-list, .app-time-selector .app-minute-list {
    margin: 0;
}

.app-time-selector li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10200;
    width: 24px;
    margin-left: -12px;
    margin-top: -7px;
    text-align: center;
    transition: color 300ms ease-in;
    line-height: 1;
}

    .app-time-selector li.app-cal-selected {
        color: #fff;
    }

.app-time-header .app-cal-selected {
    color: #38c;
}

.app-time-selector .app-time-hand {
    position: absolute;
    width: 2px;
    background-color: #38c;
    height: 65px;
    top: 7px;
    left: 72px;
    margin-left: -1px;
    transform-origin: 50% 100%;
}

    .app-time-selector .app-time-hand.app-transition {
        transition: 300ms ease-out;
    }

    .app-time-selector .app-time-hand.app-inner-ring {
        height: 32%;
        margin-top: 13%;
    }

    .app-time-selector .app-time-hand.app-dot span::after {
        content: " ";
        background-color: #fff;
        width: 3px;
        height: 3px;
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-left: -1.5px;
        margin-top: -1.5px;
        z-index: 10250;
    }

    .app-time-selector .app-time-hand > span {
        width: 24px;
        height: 24px;
        top: -6px;
        left: -11px;
        background-color: #38c;
        z-index: 10175;
        border-radius: 50%;
        position: absolute;
    }

.app-calendar-action-bar {
    text-align: right;
    display: none;
    white-space: nowrap;
    padding-right: 8px;
}

.app-calendar-show-bar .app-calendar-action-bar {
    display: block;
}

.app-calendar-action-bar .ui-btn {
    border-width: 0 !important;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    font-size: 14px;
}

    .app-calendar-action-bar .ui-btn + .ui-btn {
        margin-left: .25em;
    }

.app-calendar-cover {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
}

body.app-desktop .app-calendar-action-bar :not(:hover):not(.ui-btn-active).ui-btn, body:not(.app-desktop) .app-calendar-action-bar :not(.ui-btn-active).ui-btn {
    background-color: transparent !important;
}

.app-calendar-plugin-container:not(.app-calendar-wide) {
    width: 250px !important;
}

    .app-calendar-plugin-container:not(.app-calendar-wide) .app-calendar-plugin, .app-calendar-plugin-container:not(.app-calendar-wide) .app-time-container {
        width: 100%;
    }

[data-presenter="calendar"] {
    overflow: hidden;
}

.app-calendar-plugin-container.app-data-input-helper {
    border: solid 1px;
}

.app-calendar-month-header.ui-btn {
    display: inline-block;
}

.app-calendar-monthview .app-calendar-month table li {
    margin: 2px;
    border-radius: 2px;
    white-space: nowrap;
}
/*******************************************************************
   Calendar view style breakpoints
/*******************************************************************/
/* Agenda mode */
.ui-page:not(.app-min-sm) .app-calendar-agenda-list .app-calendar-day {
    padding-left: 5em !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list li > .app-event-time {
    display: none !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list .app-calendar-day li > div .app-event-time {
    display: block !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list li.app-time-line-container > .app-event-time {
    display: block !important;
    padding-top: 1em !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list .app-calendar-day li.app-time-line-container {
    height: 40px !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list .app-calendar-day li > div {
    margin-left: 0 !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list .app-calendar-month-header {
    margin-left: 5em !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list h2 .app-calendar-monthname, .ui-page:not(.app-min-sm) .app-calendar-agenda-list h2 .app-calendar-daynum {
    display: none !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list h2 .app-calendar-daynumbig {
    display: block !important;
    margin-bottom: -0.5em !important;
}

.ui-page:not(.app-min-sm) .app-calendar-agenda-list h2 .app-calendar-dayname {
    font-size: 0.75em !important;
}
/*.app-density-compact .app-min-xs:not(.app-min-lg) .app-calendar-agenda-list h2,
.app-density-condensed .app-min-xs:not(.app-min-lg) .app-calendar-agenda-list h2 {
    font-size: 16px !important;
}*/
.app-min-md .app-calendar-agenda-list {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 800px !important;
}
/* Year mode*/
.app-calendar-year {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ui-page:not(.app-min-xs) .app-calendar-year {
    font-size: 10px !important;
}

.ui-page.app-min-xs .app-calendar-year {
    font-size: 14px !important;
}

.ui-page:not(.app-min-md) .app-calendar-yearview .app-calendar-month {
    width: 50%;
}

.ui-page.app-min-lg .app-calendar-yearview .app-calendar-month {
    width: 25%;
}
/* Month/Day/Wek modes */
.app-min-sm .app-calendar-monthview .app-calendar-month table td ul, .app-min-sm .app-calendar-dayview .app-event, .app-min-sm .app-calendar-weekview .app-event {
    font-size: 12px;
}

.app-font-tiny .app-min-sm .app-calendar-monthview .app-calendar-month table td ul, .app-font-tiny .app-min-sm .app-calendar-dayview .app-event, .app-font-tiny .app-min-sm .app-calendar-weekview .app-event {
    font-size: 8.5pt;
}

.app-min-sm .app-event .app-event-time {
    font-size: .85em;
}

.app-min-lg .app-calendar-monthview .app-calendar-month table td ul, .app-min-lg .app-calendar-weekview .app-event {
    font-size: 12px;
}

.app-font-tiny .app-min-lg .app-calendar-monthview .app-calendar-month table td ul, .app-font-tiny .app-min-lg .app-calendar-weekview .app-event {
    font-size: 8.5pt;
}

.ui-page:not(.app-min-md) .app-calendar-month table ul li.app-calendar-month-more span {
    display: none;
}

.ui-page:not(.app-min-md) .app-calendar-weekview .app-event-more {
    color: transparent;
}

.ui-page:not(.app-min-md) .app-calendar-monthview .app-event .app-event-time {
    display: none;
}
