<?xml version="1.0"?>
<!--
      Note: As an alternative to hand editing this file you can use the
      web admin tool to configure settings for your application. Use
      the Website->Asp.Net Configuration option in Visual Studio.
      A full list of settings and comments can be found in
      machine.config.comments usually located in
      \Windows\Microsoft.Net\Framework\v2.x\Config
    -->
<configuration>
  <appSettings/>
  <connectionStrings>
    <clear/>
    <add name="MyCompany" connectionString="Data Source=demo-copilot.database.windows.net;Initial Catalog=biblioteca;Persist Security Info=True;User ID=admin-demo;Password=GitHubC0p1L0T_4dM1N;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" fileEncoding="utf-8"/>
    <!--
        Set compilation debug="true" to insert debugging
        symbols into the compiled page. Because this
        affects performance, set this value to true only
        during development.
        -->
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.SqlServer.Types, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MyCompany" applicationName="/"/>
      </providers>
    </membership>
    <!--
        The <authentication> section enables configuration 
        of the security authentication mode used by 
        ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/pages/home" timeout="20"/>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="MyCompany" applicationName="/"/>
      </providers>
    </roleManager>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <clear/>
        <add name="XmlSiteMapProvider" type="MyCompany.Services.ApplicationSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--
        The <customErrors> section enables configuration 
        of what to do if/when an unhandled error occurs 
        during the execution of a request. Specifically, 
        it enables developers to configure html error pages 
        to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--Data Aquarium Framework and AjaxControlToolkit references-->
        <add tagPrefix="aquarium" namespace="MyCompany.Web"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
      <!--Data Aquarium Framework handlers-->
      <add verb="*" path="Blob.ashx" validate="false" type="MyCompany.Handlers.Blob"/>
      <add verb="*" path="Theme.ashx" validate="false" type="MyCompany.Handlers.Theme"/>
      <add verb="*" path="Export.ashx" validate="false" type="MyCompany.Handlers.Export"/>
      <add verb="*" path="Import.ashx" validate="false" type="MyCompany.Handlers.Import"/>
      <add verb="*" path="Report.ashx" validate="false" type="MyCompany.Handlers.Report"/>
      <add verb="*" path="ControlHost.aspx" validate="false" type="MyCompany.Web.ControlHost"/>
    </httpHandlers>
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="2097151" requestValidationMode="2.0"/>
    <httpModules>
      <remove name="FormsAuthentication"/>
      <add name="ExportAuthentication" type="MyCompany.Security.ExportAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
    </httpModules>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
      </protocols>
    </webServices>
    <trust level="Full" legacyCasModel="true" originUrl=".*"/>
    <httpCookies sameSite="Strict"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.x.  It is not necessary for previous version of IIS.
      -->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="9999"/>
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication"/>
      <add name="ExportAuthentication" type="MyCompany.Security.ExportAuthenticationModule"/>
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule"/>
    </modules>
    <handlers>
      <add name="All_XML" verb="*" path="*.xml" type="System.Web.HttpForbiddenHandler" resourceType="Unspecified"/>
      <add name="Reserved_ReportViewerWebControl_axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" resourceType="Unspecified"/>
      <!--Data Aquarium Framework handlers-->
      <add name="Blob_ashx" verb="*" path="Blob.ashx" type="MyCompany.Handlers.Blob" resourceType="Unspecified"/>
      <add name="Theme_ashx" verb="*" path="Theme.ashx" type="MyCompany.Handlers.Theme" resourceType="Unspecified"/>
      <add name="Export_ashx" verb="*" path="Export.ashx" type="MyCompany.Handlers.Export" resourceType="Unspecified"/>
      <add name="Import_ashx" verb="*" path="Import.ashx" type="MyCompany.Handlers.Import" resourceType="Unspecified"/>
      <add name="Report_ashx" verb="*" path="Report.ashx" type="MyCompany.Handlers.Report" resourceType="Unspecified"/>
      <add name="ControlHost_ashx" verb="*" path="ControlHost.aspx" type="MyCompany.Web.ControlHost" resourceType="Unspecified"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="524288"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>